@font-face {
  font-family:'Paperlogy';
  src:local('Paperlogy 3 Light'),local('Paperlogy-Light');
  font-weight:300;
  font-style:normal;
  font-display:swap
}
@font-face {
  font-family:'Paperlogy';
  src:local('Paperlogy 4 Regular'),local('Paperlogy-Regular');
  font-weight:400;
  font-style:normal;
  font-display:swap
}
@font-face {
  font-family:'Paperlogy';
  src:local('Paperlogy 5 Medium'),local('Paperlogy-Medium');
  font-weight:500;
  font-style:normal;
  font-display:swap
}
@font-face {
  font-family:'Paperlogy';
  src:local('Paperlogy 6 SemiBold'),local('Paperlogy-SemiBold');
  font-weight:600;
  font-style:normal;
  font-display:swap
}
@font-face {
  font-family:'Pretendard';
  src:local('Pretendard Light');
  font-weight:300;
  font-style:normal;
  font-display:swap
}
@font-face {
  font-family:'Pretendard';
  src:local('Pretendard Regular');
  font-weight:400;
  font-style:normal;
  font-display:swap
}
@font-face {
  font-family:'Pretendard';
  src:local('Pretendard Medium');
  font-weight:500;
  font-style:normal;
  font-display:swap
}
@font-face {
  font-family:'Pretendard';
  src:local('Pretendard SemiBold');
  font-weight:600;
  font-style:normal;
  font-display:swap
}
:root {
  --font-body:'Pretendard',-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;
  --font-display:'Paperlogy','Pretendard',-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif
}
